@model WebApplication.Models.Profile.ChangePasswordViewModel
@{
    ViewBag.Title = "Cambiar password";
}
<div class="panel panel-default widget">
    <div class="panel-heading">
        <h3 class="panel-title">
            <span class="glyphicon glyphicon-cog"></span> @ViewBag.Title
        </h3>
    </div>
    <div class="panel-body">
        <ul class="list-group">
            <li class="list-group-item">
                <div class="row">
                    <div class="col-xs-10 col-md-11">
                        @using (Html.BeginForm("ChangePassword", "Profile", FormMethod.Post, htmlAttributes: new { @class = "form-horizontal" }))
                        {
                            @Html.AntiForgeryToken()
                            <fieldset>
                                <h3>
                                    Cambiar password
                                    <small>Complete los datos:</small>
                                </h3>
                                <hr />
                                <ul class="list-group">
                                    @Html.ValidationSummary()
                                </ul>
                                <div class="form-group">
                                    @Html.LabelFor(m => m.CurrentPassword, new { @class = "col-sm-2 control-label" })
                                    <div class="col-sm-10">
                                        @Html.TextBoxFor(m => m.CurrentPassword, new { @class = "form-control", placeholder = "Password actual", required = "true", type = "password" })
                                    </div>
                                </div>  
                                <div class="form-group">
                                    @Html.LabelFor(m => m.NewPassword, new { @class = "col-sm-2 control-label" })
                                    <div class="col-sm-10">
                                        @Html.TextBoxFor(m => m.NewPassword, new { @class = "form-control", placeholder = "Nuevo password", required = "true", type = "password" })
                                    </div>
                                </div>  
                                <div class="form-group">
                                    @Html.LabelFor(m => m.ConfirmNewPassword, new { @class = "col-sm-2 control-label" })
                                    <div class="col-sm-10">
                                        @Html.TextBoxFor(m => m.ConfirmNewPassword, new { @class = "form-control", placeholder = "Confirme password", required = "true", type = "password" })
                                    </div>
                                </div>                                
                                <hr />
                                <button id="buttonSend" type="submit" class="btn btn-primary">Aceptar</button>
                                @Html.ActionLink("Cancelar", "Index", "Home", null, new { @class = "btn btn-default" })
                            </fieldset>
                        }
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
