@model WebApplication.Models.Field.FieldViewModel

@{
    ViewBag.Title = "Eliminar campo";
}

<div class="container">
    <div class="row">
        <div class="panel panel-default widget">
            <div class="panel-heading">

                <h3 class="panel-title">
                    <span class="glyphicon glyphicon-eye-open"></span> @ViewBag.Title
                </h3>
            </div>
            <div class="panel-body">
                <ul class="list-group">
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-xs-2 col-md-1">
                                <img src="~/Content/images/site/field.jpg" class="img-circle img-responsive" alt="" />
                            </div>
                            <div class="col-xs-10 col-md-11">
                                <div>
                                    <h4>
                                        @Html.DisplayFor(model => model.Name)
                                    </h4>
                                    <hr />
                                    <div class="mic-info">
                                        <strong>@Html.DisplayNameFor(model => model.Address): </strong>
                                        @Html.DisplayFor(model => model.Address)
                                    </div>
                                    <div class="mic-info">
                                        <strong>@Html.DisplayNameFor(model => model.City): </strong>
                                        @Html.DisplayFor(model => model.City)
                                    </div>
                                    <div class="mic-info">
                                        <strong>@Html.DisplayNameFor(model => model.Province): </strong>
                                        @Html.DisplayFor(model => model.Province)
                                    </div>
                                    <div class="mic-info">
                                        <strong>@Html.DisplayNameFor(model => model.Web): </strong>
                                        @Html.DisplayFor(model => model.Web)
                                    </div>
                                    <div class="mic-info">
                                        <strong>@Html.DisplayNameFor(model => model.Email): </strong>
                                        @Html.DisplayFor(model => model.Email)
                                    </div>
                                    <div class="mic-info">
                                        <strong>@Html.DisplayNameFor(model => model.Phone): </strong>
                                        @Html.DisplayFor(model => model.Phone)
                                    </div>
                                </div>
                                <hr />
                               
                                <div class="alert alert-warning">Está seguro de querer borrar el campo?</div>
                                @using (Html.BeginForm())
                                {
                                    @Html.AntiForgeryToken()

                                    <div class="form-actions no-color">
                                        <input type="submit" value="Borrar" class="btn btn-primary" />
                                        @Html.ActionLink("Cancelar", "Index", null, new { @class = "btn btn-default" })
                                    </div>
                                }
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
