@model WebApplication.Models.Player.PlayerViewModel

@{
    ViewBag.Title = "Eliminar Jugador";
}
<div class="container">
    <div class="row">
        <div class="panel panel-default widget">
            <div class="panel-heading">

                <h3 class="panel-title">
                    <span class="glyphicon glyphicon-user"></span> @ViewBag.Title
                </h3>
            </div>
            <div class="panel-body">
                <ul class="list-group">
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-xs-2 col-md-1">
                                <img src="~/Content/images/site/player.jpg" class="img-circle img-responsive" alt="" />
                            </div>
                            <div class="col-xs-10 col-md-11">
                                <div>
                                    <h4>
                                        @Html.DisplayFor(model => model.License)
                                        @Html.HiddenFor(model => model.PlayerId)
                                    </h4>
                                    <hr />
                                    <div class="mic-info">
                                        <strong>@Html.DisplayNameFor(model => model.Name): </strong>
                                        @Html.DisplayFor(model => model.Name)
                                    </div>
                                    <div class="mic-info">
                                        <strong>@Html.DisplayNameFor(model => model.Surname): </strong>
                                        @Html.DisplayFor(model => model.Surname)
                                    </div>
                                    <div class="mic-info">
                                        <strong>@Html.DisplayNameFor(model => model.Alias): </strong>
                                        @Html.DisplayFor(model => model.Alias)
                                    </div>
                                    <div class="mic-info">
                                        <strong>@Html.DisplayNameFor(model => model.Phone): </strong>
                                        @Html.DisplayFor(model => model.Phone)
                                    </div>
                                    <div class="mic-info">
                                        <strong>@Html.DisplayNameFor(model => model.RealHP): </strong>
                                        @Html.DisplayFor(model => model.RealHP)
                                    </div>
                                    <div class="mic-info">
                                        <strong>@Html.DisplayNameFor(model => model.GameHP): </strong>
                                        @Html.DisplayFor(model => model.GameHP)
                                    </div>
                                </div>
                                <hr />

                                <div class="alert alert-warning">Está seguro de querer borrar el jugador?</div>
                                @using (Html.BeginForm())
                                {
                                    @Html.AntiForgeryToken()

                                    <div class="form-actions no-color">
                                        <input type="submit" value="Borrar" class="btn btn-primary" />
                                        @Html.ActionLink("Cancelar", "Index", null, new { @class = "btn btn-default" })
                                    </div>
                                }
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
